/* theme colors */
/* SCSS HEX */
$darker-purple: #10041c;
$dark-purple: #2e233a;
$wenge: #685762ff;
$mountbatten-pink: #a583a0ff;
$beige: #eff0d1ff;
$cambridge-blue: #77ba99ff;

// grey scale colors
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;

$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// bg and text colors
$background-color: $dark-purple;
$text-color: $gray-100;

// semantic colors
$success-color: #28a745;
$error-color: #dc3545;
$warning-color: #ffc107;
$info-color: #17a2b8;